/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --pomodoro: #f87070;
  --short: #70f3a0;
  --long: #70a0f3;
  --text: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  color: var(--text);
  background-color: var(--pomodoro);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
